/* style of component-divider */
.dashboard-component.dashboard-component-divider::after {
    content: '';
    height: 1px;
    width: 100%;
    background-color: #cfd8dc;
    display: block;
}
/* .react-grid-item > .react-resizable-handle.react-resizable-handle-se {
    display: none;
} */