body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Show it is fixed to the top */
body {
  min-height: 55rem;
  padding-top: 3.5rem;
}

/* Signup */
.flex-center {
  -webkit-box-align: center;
  /* align-items: center; */
  -webkit-box-pack: center;
  justify-content: center;
}