ul.mylist, ol.mylist {
    list-style: none;
    margin: 0px;
    padding: 0px;

    max-width: 100%;
    width: 100%;
}

ul.mylist li, ol.mylist li {
    #display: inline-block;
    padding-right: 10px;
    padding-bottom: 5px;
    #padding-inline: 10px;
    #margin-bottom: 5px;
    #border: 1px solid #efefef;
    font-size: 12px;
    cursor: pointer;
    float: left;
}