.arrow,
.arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.arrow {
  visibility: hidden;
}

.arrow::before {
  visibility: visible;
  content: "";
  transform: rotate(45deg);
}
.fade.show.popover.bs-popover-top[data-popper-placement^="top"] > .arrow {
  bottom: -4px;
}

.fade.show.popover.bs-popover-bottom[data-popper-placement^="bottom"] > .arrow {
  top: -4px;
}

.fade.show.popover.bs-popover-left[data-popper-placement^="left"] > .arrow {
  right: -4px;
}

.fade.show.popover.bs-popover-right[data-popper-placement^="right"] > .arrow {
  left: -4px;
}

.bs-popover-auto[x-placement^=top], .bs-popover-top {
  margin-bottom: 1rem;
}

.bs-popover-auto[x-placement^=bottom], .bs-popover-bottom {
  margin-top: 1rem;
}

.bs-popover-auto[x-placement^=left], .bs-popover-left {
  margin-right: 1rem;
}

.bs-popover-auto[x-placement^=right], .bs-popover-right {
  margin-left: 1rem;
}
