.css-d2c85m.label-default:hover {
    background-color: #A5DAE9;
    border-color: #79CADE;
}
.css-d2c85m.label-default {
    background-color: #F0F0F0;
    color: #323232;
    border-color: #B2B2B2;
}
.css-d2c85m:last-of-type {
    margin-right: 0;
}
.css-d2c85m:first-of-type {
    margin-left: 0;
}
.label-default:hover {
    background-color: #8c8c8c;
}
.css-d2c85m {
    margin-right: 4px;
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    transition: background-color 0.3s;
}
.label {
    border-radius: 21px;
    padding: 0.35em 0.8em 0.35em;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    text-align: center;
}
.label-default {
    background-color: #999999;
}
.modal-backdrop
{
    opacity:0.0 !important;
}
